@page "/"

<h1>Hello!</h1>

<h3>
    Welcome to our chat system!
</h3>

<br>

<p>
    Here is how you can use it: <br>
    ................................ <br>
    ................................ <br>
    ................................ <br>
    ................................ <br>
    ................................ <br>
</p>